In [1]:
zimport numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [9]:
np.random.seed(101)

In [10]:
df = pd.DataFrame(randn(5,4),['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [11]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [13]:
type(df['W'])

pandas.core.series.Series

In [14]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [15]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [18]:
df['new'] = df['W'] + df['Y']

In [23]:
df['series'] = pd.Series([1,2,3, 4, 5])

In [33]:
df.drop('new', axis=1, inplace=True)

In [35]:
df.drop('E', axis=0, inplace=True)

In [38]:
df.drop('D')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [39]:
df.shape

(4, 4)

In [40]:
df[['Y', 'W']]

          Y         W
A  0.907969  2.706850
B -0.848077  0.651118
C  0.528813 -2.018168
D -0.933237  0.188695

In [41]:
# Rows

In [42]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [43]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [44]:
df.loc[['A', 'B']]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [45]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [46]:
df.loc['B', 'Y']

-0.8480769834036315

In [47]:
df.loc[['A','B'],['W', 'Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [49]:
booldf = df > 0

In [50]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057

In [51]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057

In [56]:
resultdf = df[df['W'] > 0]